.bigbutton, #mainlaugh {
    text-align: center;
    padding: 5px; 
    font-family: monospace;
    font-size: 15vh;
}

.navbutton {
    text-align: center;
    padding: 2px;
    font-family: monospace;
    font-size: 4vh;
}

#mainlaugh {
    background-color: aqua;
    width: 80vw;
}

#mainbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bigbutton:hover, .navbutton:hover, #mainlaugh:hover {
    background-color: rgb(255, 0, 119) !important;
    cursor: pointer;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    cursor: pointer;
}

#laughbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    height: 100vh;
}

#navbox {
    position: fixed;
    top: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;}

#popup {
    position: fixed;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}