body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#container {
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
}
#tophalf {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
#sliderbox {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
#boopbox {
    display: flex;
    flex-direction: column;
    margin-left: 20px; 
}
.slider {
    width: 20px;
    height: 150px;
    background-color: teal;
    border-radius: 5px;
}
.mark {
    width: 20px;
    height: 15px;
    background-color: pink;
    position: relative; 
}
.mark:hover{
    background-color: rgb(252, 110, 134);
    cursor: pointer;
}
.boop {
    border-radius: 50%;
    background-color: teal;
    width: 30px;
    height: 30px;
}
button:hover {
    background-color: pink;
    cursor: pointer;
}