@font-face {
    font-family: 'Querina';
    src: url('../webfonts/querina.woff2') format('woff2'), 
        url('../webfonts/querina.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Querina', sans-serif;
    background-image: url("../hand.png");
    background-color: tan;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-size: 1.7rem;
}

.about {
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    text-transform: uppercase;
    color: #333;
    text-shadow: -1px -1px #909090;
    text-align: left;
} 

.mini {
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    text-transform: uppercase;
    color: #333;
    text-shadow: -1px -1px #909090;
    visibility: hidden;
    text-align: center;
}

.ipod {
  width: 50%;
  background-color: rgb(149, 120, 79);
  border: 5px solid black; 
  max-width: 300px;
  max-height: 800px;
  border-radius: 18px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute; 
  top: calc(50% + 10px); 
  left: calc(50% + 10px); 
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 480px){
  .ipod {
    max-width: 200% !important;
    width: 85% !important; 
    max-height: 200% !important;
    height: 90% !important; 
    padding-left: 50px; 
    padding-top: 50px; 
    padding-right: 50px;
    padding-bottom: 50px; 
  }
  #playbutton {
    width: 200vw !important;
    min-width: 100px;
    max-width: 120px !important;
  }
  .screen {
    height: auto;
  }
  .screen div {
    min-height: 25px;
  }
}
@media only screen and (min-width: 1024px){
  .ipod {
    transform-origin: center;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%) scale(1.2); 
  }
}

.scrollbox {
  overflow: hidden;
  border: 3px solid black;
  border-radius: 5px;
  position: relative;
  background-color: rgb(64, 24, 76); 
  box-shadow: 0px 0 10px #919191 inset;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.scrolltext {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  animation: sidescroll 10s linear infinite;
  color: #fff; 
  margin-left: 10px;
}

@keyframes sidescroll {
    from {
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
}

.screen {
  height: 200px;
  background-color: #f09191;
  margin: 20px 0px;
  border-radius: 5px;
  border: 3px solid black; 
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  align-items: stretch;
  overflow-y: scroll;
  box-shadow: 0px 0 10px #919191 inset;
}

.screen div {
  border-bottom: 1px solid #412323;
  cursor: pointer;
  text-align: left;
  padding-left: 5px;
  min-height: 20px;
  overflow: hidden;
  word-break: break-all; 
  text-shadow: -1px -1px gray;
}

.screen div:hover {
    background-color: pink;
}

.current {
    background-color: rgb(64, 24, 76);
    color: white; 
    text-shadow: -1px -1px gray;
}

.squarewheel {
  position: relative;
  max-height: 320px; 
  aspect-ratio: 1/1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  text-shadow: -1px -1px gray;
  color: rgb(0, 61, 159); 
}

.squarewheel div {
  background-color: #f09191;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 3px solid black;
  box-shadow: 0px 0 10px #919191;
}

.squarewheel div:hover {
  background-color: pink;
  box-shadow: 0px 0 10px #919191 inset;
}

#quarter1 {
  border-radius: 20px 0 0 0;
}

#quarter2 {
  border-radius: 0 20px 0 0;
}

#quarter3 {
  border-radius: 0 0 0 20px;
}

#quarter4 {
  border-radius: 0 0 20px 0;
}

#playbutton {
  border-radius: 50%;
  border: 3px solid black;
  aspect-ratio: 1/1;
  position: absolute;
  width: 15vw;
  min-width: 100px;
  max-width: 120px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  border-radius: 10px;
  border: 2px double #ccc;
  padding: 25px 10px;
  font-size: 20px;
  text-align: center;
  box-shadow: 0px 0 10px #919191;
  cursor: pointer;
  background-color: #f09191;
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  text-shadow: -1px -1px gray;
  color: rgb(0, 61, 159); 
}

.button:hover {
  background-color: pink;
  box-shadow: 0px 0 10px #919191 inset;
}

/* @media (max-width: 320px) {
  .ipod {
    visibility: hidden;
  }
  .mini {
    visibility: visible;
  }
  body {
    background-image: none;
    background-color: black;
  }
} */
